*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #f6efe7 !important;
}
.position-set {
  position: absolute;
  margin-top: -30px;
}

.navbar {
  background-color: #0c7962;
  color: #83deb2;
  padding-bottom: 0;
  border-radius: 0;
  position: sticky !important;
  top: 0;
  z-index: 1030; /* Ensure it stays on top of other elements */
}

.navbar .navbar-nav .nav-link {
  color: #83deb2;
}

.navbar .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.nav-item {
  padding-left: 20px;
}

.navbar-toggler {
  border: none;
}

.offcanvas {
  background-color: #0c7962;
  color: #83deb2;
}

.offcanvas-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.offcanvas-body {
  padding: 1rem;
}

.offcanvas-body .nav-link {
  color: #83deb2;
}

.offcanvas-body .nav-link:hover {
  color: #ffffff;
}

.wrapper {
  padding: 70px 0;
}
.overallWidth {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* Default slide styles */
.center-slider .slick-slide {
  color: #fff;
  height: 450px;
  width: 400px;
  margin: 0 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.8);
  transition: all 0.4s ease-in-out;
  position: relative;
  overflow: hidden;
  border-radius: 123.44px 123.44px 123.44px 123.44px / 123.44px 123.44px
    123.44px 123.44px;
}

.center-slider .slick-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(2, 112, 89, 0.7);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  z-index: 1;
}

.center-slider .slick-slide:hover::before {
  opacity: 1;
}

.center-slider .slick-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.4s ease-in-out;
  z-index: 0;
}

.center-slider .slick-slide h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  color: #fff;
  font-size: 1.2em;
  transition: transform 0.4s ease-in-out;
  z-index: 2;
}

.center-slider .slick-slide:hover img {
  transform: scale(1.1);
}

.center-slider .slick-slide,
.center-slider
  .slick-slide[aria-hidden="true"]:not(.slick-cloned)
  ~ .slick-cloned[aria-hidden="true"] {
  transform: scale(0.8, 0.8);
  transition: all 0.4s ease-in-out;
}

/* Active center slide */
.center-slider .slick-center,
.center-slider
  .slick-slide[aria-hidden="true"]:not([tabindex="-1"])
  + .slick-cloned[aria-hidden="true"] {
  transform: scale(1.1);
  background-color: #000000;
}

.center-slider .slick-current.slick-active {
  transform: scale(1);
}

.slick-next,
.slick-prev {
  z-index: 3;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slick-next {
  right: 18px;
}

.slick-next:before,
.slick-prev:before {
  color: #fff;
  font-size: 50px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .center-slider .slick-slide {
    color: #fff;
    height: 350px;
    width: 300px;
    margin: 0 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.8);
    transition: all 0.4s ease-in-out;
    position: relative;
    overflow: hidden;
    border-radius: 123.44px 123.44px 123.44px 123.44px / 123.44px 123.44px
      123.44px 123.44px;
  }

  .center-slider .slick-slide h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    transition: transform 0.4s ease-in-out;
  }

  .slick-next,
  .slick-prev {
    display: block;
    top: auto;
    bottom: -30px;
    transform: translateY(0);
    font-size: 30px;
  }

  .slick-prev {
    left: calc(50% - 85px); /* Adjust based on the size of the arrows */
  }

  .slick-next {
    right: calc(50% - 50px); /* Adjust based on the size of the arrows */
  }
}

.f-heading {
  font-family: "Cerebri Sans Heavy", sans-serif;
  color: #000000;
}
.heading-hover:hover {
  color: #83deb2;
}
.video {
  border-radius: 8px;
}

/* Base styles */
.rounded-section-top {
  width: 100%;
  position: absolute;
  top: -140px;
}
.rounded-section-bottom {
  width: 100%;
  position: absolute;
  bottom: -140px;
}
.rounded-section {
  position: relative;
  height: auto;
  margin-top: 150px;
  /* padding: 60px 0; */
  font-family: "Apparel Display", serif;
  background-color: #83deb2;
  margin-bottom: 80px;
  padding-bottom: 40px;
}
.rounded-section .item {
  padding: 30px;
  text-align: center;
  margin-bottom: 30px;
}
.rounded-section .item img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}
.rounded-section .item h3 {
  font-family: "Cerebri Sans Heavy", sans-serif;
  font-size: 2rem;
  margin-bottom: 10px;
  color: #000;
  font-weight: 700;
}
.rounded-section .item p {
  font-family: "Cerebri Sans Heavy", sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
  color: #000;
}
.container.text-center.mt-5.pt-5 .res-heading {
  font-size: 2.8rem; /* Adjust base font size if needed */
}
.rounded-section h1 {
  color: #000;
}
.container.text-center.mt-5.pt-5 {
  font-size: 1.25rem; /* Adjust base font size if needed */
}
/* Responsive styles for mobile devices */
@media (max-width: 768px) {
  .rounded-section-top {
    width: 100%;
    position: absolute;
    top: -44px;
  }
  .rounded-section {
    padding-top: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .section-paragraph {
    font-size: 16px !important;
  }
  .section-title {
    font-size: 50px !important;
  }
  .rounded-section-bottom {
    width: 100%;
    position: absolute;
    bottom: -44px;
  }
  .See-All-Our-Work {
    margin-top: 80px !important;
  }
}

.what-we {
  margin-top: 200px;
}

@media (max-width: 768px) {
  .what-we {
    margin-top: 80px;
  }
  .See-all-videos {
    margin-bottom: 50px;
  }
}
footer {
  /* height: 400lvh; */
  margin-top: 240px;
  padding-top: 40px;
  font-family: "Apparel Display", serif;
  background-color: #028065;
  position: relative;
}
footer h2 {
  font-family: "Cerebri Sans Heavy", sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #83deb2;
}
footer h1 {
  font-family: "Apparel Display", serif;
  font-size: 60px;
  color: #83deb2;
}

.footer-content {
  color: #83deb2 !important;
  padding: 40px 0;
}

.footer-links,
.footer-links-social {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.footer-links li,
.footer-links-social li {
  margin-bottom: 15px;
}

.footer-links a,
.footer-links-social a {
  color: #83deb2 !important;
  text-decoration: none;
}

.footer-links a:hover,
.footer-links-social a:hover {
  text-decoration: underline;
}

.social-icons a {
  /* color: #83deb2 !important; */
  font-size: 1.5em;
  text-decoration: none;
  margin-right: 15px;
}

.social-icons a:hover {
  color: #007bff;
}

.social-icons i {
  margin-right: 10px;
}

.footer-content h3 {
  margin-top: 20px;
}

.mrleft {
  margin-right: 15px;
}

@media (max-width: 767.98px) {
  .logo-center {
    text-align: center;
  }
  footer {
    margin-top: 140px;
    padding-top: 5px;
  }

  .heading-short-res {
    font-family: "Apparel Display", serif;
    font-size: 3.5rem !important;
  }
  .heading-short-res2 {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Apparel Display", serif;
    font-size: 3rem !important;
  }
  footer h2 {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
    font-size: 50px;
  }
  footer h1 {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;

    font-size: 50px;
  }
  .resLogo {
    text-align: center !important;
  }

  .Expect-more {
    text-align: center;
  }
  .text-md-right,
  .text-md-left {
    text-align: center !important;
  }

  .footer-links,
  .footer-links-social {
    justify-content: center !important;
    text-align: center !important;
  }

  .social-icons {
    justify-content: center !important;
  }

  .footer-content h3 {
    text-align: center !important;
  }
}
